@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dela+Gothic+One&family=Inter:wght@400;500;600;700&display=swap');

@theme {
    --font-anton: "Anton", sans-serif;
    --font-dela: "Dela Gothic One", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--font-inter);
  }
  * {
    box-sizing: border-box;
  }
}

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";